[submodule "Arkitect/vendor/spdlog"]
	path = Arkitect/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Arkitect/vendor/GLFW"]
	path = Arkitect/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Arkitect/vendor/imgui"]
	path = Arkitect/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Arkitect/vendor/glm"]
	path = Arkitect/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Arkitect/vendor/Box2D"]
	path = Arkitect/vendor/Box2D
	url = https://github.com/erincatto/box2d
[submodule "Arkitect/vendor/msdf-atlans-gen"]
	path = Arkitect/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
