[submodule "Arkitect/vendor/spdlog"]
	path = Arkitect/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Arkitect/vendor/GLFW"]
	path = Arkitect/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Arkitect/vendor/imgui"]
	path = Arkitect/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
